
<div class="row">
  <div class="col-lg-6">
    <h2>Teacher List</h2>
  </div>
  <div class="col-lg-6" style="text-align: right;">
    <button mat-raised-button color="warn" (click)="addData()">Add Teacher</button>
    <!-- <a mat-button routerLink="['students/add']"> Add Student </a> -->
  </div>
</div>
<table  mat-table [dataSource]="dataSource" matSort >
  
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
  </ng-container>  

  <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
  </ng-container>

  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Birthdate</th>
    <td mat-cell *matCellDef="let element">{{element.birthdate | date:'dd/MM/yyyy'}}</td>
  </ng-container>  

<ng-container matColumnDef="gender">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
  <td mat-cell *matCellDef="let element">{{element.gender}}</td>
</ng-container>

<ng-container matColumnDef="email">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
  <td mat-cell *matCellDef="let element">{{element.email}}</td>
</ng-container>

<ng-container matColumnDef="actions">
  <th mat-header-cell mat-header-cell *matHeaderCellDef> Actions </th>
  <td mat-cell *matCellDef="let element; let i = index"> 
    <a class="pointer" routerLink="edit/{{ i }}" style="color: #1878B0;" *ngIf="this.sesion.currentSesion?.currentUser?.isAdmin">
      <mat-icon >edit</mat-icon>
    </a>    
    <a (click)=removeData(i)  class="pointer" style="color: #E15639;" *ngIf="this.sesion.currentSesion?.currentUser?.isAdmin">
      <mat-icon>delete</mat-icon>
    </a>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>  
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
