<h1><b><i>CODER HOUSE</i>: Final Project - Angular 40510</b> </h1>
<h2>Deadline:  Monday, April 3, 2023</h2>
<h1><b>Objetivos</b></h1>
<p>1. Creación de un proyecto Angular CLI con Angular.</p>
<p>2. Creación de componentes de layout que incluya un navbar para el menú lateral y un toolbar para el título de la aplicación</p>
<p>3. Creación de componentes: Lista de Alumnos y ABM de Alumnos</p>
<p>4. Definir formularios Reactivos de ABM de alumnos</p>
<p>5. Definir la lógica y estructura de representación de datos en listado, utilizando tablas de Angular Material tomando sus datos de arrays y funciones typescript</p>
<p>6. Crear un pipe personalizado para mostrar el nombre junto al apellido de los alumnos</p>
<p>7. Crear una directiva personalizada para que las cabeceras o títulos tengan letra tamaño 20.</p>


<h1><b>Consigna</b></h1>
<p>1. Creación de un proyecto frontend basado en Angular para gestionar los asistentes a una serie de cursos</p>
<p>2. Deberá contener el perfil de administrador, el cual podrá listar, realizar altas y bajas de los alumnos, cursos e inscripciones y modificar sus datos. También podrá crear y modificar usuarios</p>
<P>3. El perfil usuario podrá listar los alumnos y los cursos, pero sí podrá agregar o eliminar inscripciones de alumnos a los cursos. No podrá realizar ninguna operación sobre los usuarios</P>
